footer{
    position: absolute;
    bottom: 0;
    height:60px;
    width:100%;
    display: flex;
    justify-content: center;
    border-top:  1px #CCCCCC solid;
}

p{
    display: flex;
    align-items: center;
    justify-content:center;
}